NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/ds_conseil_immo?schema=public
JWT_ACCESS_SECRET=change_me_access_secret_at_least_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN_DAYS=30
CORS_ORIGIN=https://service-frontend-production-aa6d.up.railway.app
RATE_LIMIT_TTL=60
RATE_LIMIT_LIMIT=100
